ion-card{
  border-radius: 20px ;
  border-top: #1eb5c6 3px solid;
  border-left: #1eb5c6 2px solid;
  border-right: #1eb5c6 2px solid;
  border-bottom: #1eb5c6 2px solid;
}
.col1{
  margin-top: 15px;
  margin-left: 25px;
  color: black;
}
p{
  text-align: center;
  margin-top: 14px;
  margin-left: 10px;
}
.icon1{
font-size: 60px;
  margin-top: 20px;
  margin-left: 280px;
}
ion-toggle{
  margin-left: 10px;
}
