ion-card{
  border-top: #1eb5c6 1px solid;
  border-left: #1eb5c6 1px solid;
  border-radius: 10px;
  border-right: #1eb5c6 1px solid;
  border-bottom: #1eb5c6 1px solid;
}
.car1{
  border-top: #9b9b9b 1px;
  border-left: #9b9b9b 1px;
  border-radius: 10px;
  border-right: #9b9b9b 1px;
  border-bottom: #9b9b9b 1px;
}
