<ion-tabs>

  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-chip   [routerLink]="['/conf-usuario']">
      <ion-avatar >
        <ion-icon style="height: 25px;width: 25px;color: #f4f5f8"  name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label style="color: #f4f5f8">David Castro</ion-label>
    </ion-chip>
  </ion-fab>

   <!-- <ion-fab horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button style="height: 50px;width: 50px;margin-bottom: 10px">
        <ion-icon style="height: 25px;width: 25px;color: #f4f5f8"  name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button color="light" size="large" (click)="remover()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>-->

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab1">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" *ngIf="tipo == 'administrador' || tipo == 'empleado'">
      <ion-icon name="battery-charging-outline"></ion-icon>
      <ion-label>Contenedores</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" *ngIf="tipo == 'administrador'">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contacto" *ngIf="tipo == 'ciudadano'">
      <ion-icon name="at-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="bases" *ngIf="tipo == 'ciudadano'">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Bases</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="lamparas" *ngIf="tipo == 'empleado'">
      <ion-icon name="flashlight-outline"></ion-icon>
      <ion-label>Lámparas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
