<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>Lámparas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card >
        <ion-title style="text-align: center;color: black">Listado de lamparas</ion-title>
    </ion-card>

    <ion-grid>
        <ion-card >
            <ion-row class="ion-align-items-start">
                <ion-col size="3" scope="col" class="col1">Lamparás</ion-col>
                <ion-col size="3" scope="col" class="col1">Contenedor</ion-col>
                <ion-col size="3" scope="col" class="col1">Operando / No opera</ion-col>
                <ion-col size="3" scope="col" class="col1">Activo / Apagado</ion-col>
            </ion-row>

            <ion-row>
                <ion-col ><p routerLink="/detalle-contenedor">Lampara 5</p></ion-col>
                <ion-col>
                    <p routerLink="/detalle-contenedor">Contenedor 5</p>
                </ion-col>
                <ion-col>
                        <ion-toggle (click)="eliminarAlert()" name="blueberry" checked></ion-toggle>
                </ion-col>
                <ion-col>
                    <ion-toggle name="blueberry" checked></ion-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col ><p routerLink="/detalle-contenedor">Lampara 5</p></ion-col>
                <ion-col>
                    <p routerLink="/detalle-contenedor">Contenedor 5</p>
                </ion-col>
                <ion-col>
                    <ion-toggle (click)="eliminarAlert()" name="blueberry" checked></ion-toggle>
                </ion-col>
                <ion-col>
                    <ion-toggle name="blueberry" checked></ion-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col ><p routerLink="/detalle-contenedor">Lampara 5</p></ion-col>
                <ion-col>
                    <p routerLink="/detalle-contenedor">Contenedor 5</p>
                </ion-col>
                <ion-col>
                    <ion-toggle (click)="eliminarAlert()" name="blueberry" checked></ion-toggle>
                </ion-col>
                <ion-col>
                    <ion-toggle name="blueberry" checked></ion-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col ><p routerLink="/detalle-contenedor">Lampara 5</p></ion-col>
                <ion-col>
                    <p routerLink="/detalle-contenedor">Contenedor 5</p>
                </ion-col>
                <ion-col>
                    <ion-toggle (click)="eliminarAlert()" name="blueberry" checked></ion-toggle>
                </ion-col>
                <ion-col>
                    <ion-toggle name="blueberry" checked></ion-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col ><p routerLink="/detalle-contenedor">Lampara 5</p></ion-col>
                <ion-col>
                    <p routerLink="/detalle-contenedor">Contenedor 5</p>
                </ion-col>
                <ion-col>
                    <ion-toggle (click)="eliminarAlert()" name="blueberry" checked></ion-toggle>
                </ion-col>
                <ion-col>
                    <ion-toggle name="blueberry" checked></ion-toggle>
                </ion-col>
            </ion-row>

        </ion-card>


    </ion-grid>
</ion-content>
