.filter{
  border-top: #1eb5c6 3px solid;
  border-left: #1eb5c6 3px solid;
  border-right: #1eb5c6 3px solid;
  border-bottom: #1eb5c6 3px solid;
  border-radius: 50px;
}

ion-card{
  border-top: #1eb5c6 3px solid;
  border-left: #1eb5c6 3px solid;
  border-right: #1eb5c6 3px solid;
  border-bottom: #1eb5c6 15px solid;
  border-radius: 50px;
}
