<ion-header >
    <ion-toolbar color="secondary" >
        <ion-title >Inicio</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title style="text-align: center;">Energy of water</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card>
        <center>
            <ion-label style="; margin: auto 13%;"><img src="assets/logo1.png"></ion-label>
        </center>
    </ion-card>
    <ion-card>
        <ion-card-header >
                <ion-card-title>
                    <ion-icon name="people-outline"></ion-icon>
                    Nosotros
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Somos un equipo de estudiantes que sueña con un futuro en el que la generación de energía eléctrica sea
                limpia.
                Donde esos sistemas generados sean gestionados por las IoT para así gestionarlos, y hacerlos más eficientes.
                Creemos que esto puede inspirar a más personas, organizaciones y empresas, a implementar este tipo de
                tecnología para así salvar el futuro de nuestro planeta.
            </ion-card-content>
        <center>
            <ion-img style="width: 250px;height: 250px" src="assets/NOSOTRO-NEW.jpg"  ></ion-img>
        </center>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-icon name="golf-outline"></ion-icon>
                Misión
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Ser una organización creadora de sistemas auto sustentables para reducir el impacto ambiental a causa del
            consumo eléctrico, con el uso de las Iot para una gestión más optima.
        </ion-card-content>
        <center>
            <ion-img style="width: 250px;height: 250px" src="assets/MISION.jpg"></ion-img>
        </center>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-icon name="eye-outline"></ion-icon>
                Visión
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Para el año 2021 tener un dispositivo funcional operando en campo que contribuya a los objetivos de
            sostenibilidad de la región de Orizaba.
        </ion-card-content>
        <center>
            <ion-img style="width: 250px;height: 250px" src="assets/VISION.png"></ion-img>
        </center>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-icon name="scan-circle-outline"></ion-icon>
                Objetivos
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Reducir el consumo de energía de fuentes contaminantes
            Aumentar la eficiencia de dichos sistemas con la implementación de las IoTs
            Crecer las áreas cubiertas constantemente
            Ser reconocidos por proyectos de energías limpias gestionados por IoTs
            Ofrecer soluciones de consumo eléctrico eficientes y respetuosas con el medio ambiente1836.
        </ion-card-content>
        <center>
            <ion-img style="width: 250px;height: 250px" src="assets/OBJETI_NEW.jpg"></ion-img>
        </center>


    </ion-card>

</ion-content>
